
/* 담하 푸터 디자인 */
.footer{
  padding:50px;
  width:100%;
  height:200px;
  background-color: #171717;
  .container{
    margin:0 auto;
    width:1200px;
    display: flex;
    column-gap: 50px;
    font-size: 15px;
    font-weight: medium;
    color: rgba(255,255,255,0.4);
    .info_wrap{
      display:flex;
      flex-direction: column;
      row-gap: 3px;
      word-break: keep-all;
      .copyright{
        display: block;
        font-weight: bold;
        color: rgba(255,255,255,0.7);
      }
    }
    .img_wrap{
      width:200px;
      height:100px;
      img{
        width:100%;
        height:100%;
        object-fit:contain;}
    }
  }

}
